<footer>
     <p>Site criado pelos alunos do SENAI <a href="https://github.com/tiagolima10" title="Link para a página Github."
                                             target="_blank">Tiago Lima</a>, <a href="https://github.com/TonyCleriston"
                                                                                title="Link para a página Github."
                                             target="_blank">Tony Cleriston</a>,
         <a href="#">José Roberto</a> e <a href="#">Pedro Romeiro</a></p>
</footer>