{% extends 'base.html' %}

{% block body %}
        <form method="POST">
          <h2>Vendas</h2>

          {{ venda_form.roupa_venda.label() }}
            <select id="roupa_nome" name="roupa_venda">
                <option value="" disabled selected>Selecione a roupa:</option>
                {% for r in roupas %}
                <option value="{{ r.valor }}">{{ r.nome_roupa.lower().capitalize() }}</option>
                {% endfor %}
                </select>
             {{ venda_form.roupa_vendida(value="",style="display:none;") }}

            {{ venda_form.qtd_estoque_venda.label(for="username9") }}
            {{ venda_form.qtd_estoque_venda(id="username9") }}

            {{ venda_form.tipo_pagamento.label() }}
            <select id="tipo_pagamento" name="tipo_pagamento">
                <option value="" disabled selected>Selecione a forma de pagamento:</option>
                {% for t in tipo %}
                <option value="{{ t.porcentagem }}">{{ t.tipo_pagamento.lower().capitalize() }}</option>
                {% endfor %}
                </select>

            {{ venda_form.nome_cliente.label(for="username10") }}
            {{ venda_form.nome_cliente(id="username10") }}

            {{ venda_form.endereco.label(for="username11") }}
            {{ venda_form.endereco(id="username11") }}

            {{ venda_form.valor_total.label(id="cavalo") }}
             {{ venda_form.valor_total(value="",style="display:none;",id="cavalo2") }}

            {{ venda_form.submit_venda() }}
        </form>
<script>
var select = document.getElementById('roupa_nome');
var quantidade = document.getElementById('username9');
var tipo = document.getElementById('tipo_pagamento');
var valorTotal = document.getElementById('cavalo');
var valorTotalPromocao = document.getElementById('cavalo2');

select.addEventListener("change", (event) => {
 var option = select.options[select.selectedIndex];
 var option1 = tipo.options[tipo.selectedIndex];
  var valor = option.value;
  var valor1 = option1.value;
  console.log(valor);
  var valorTotalCalculado = (parseFloat(valor) * parseFloat(quantidade.value)) * (1 - parseFloat(valor1));
  if (isNaN(valorTotalCalculado)) {
  valorTotalCalculado = 0;
  }
  const select1 = document.getElementById('roupa_nome');
   const select2 = document.getElementById('roupa_vendida');
const opcoes = select.getElementsByTagName('option');
var textoSelecionado = select.options[select.selectedIndex].text;
console.log(textoSelecionado);
for (let i = 0; i < opcoes.length; i++) {
console.log(opcoes[i].textContent);
       if (opcoes[i].textContent === textoSelecionado){
        select2.setAttribute('value', opcoes[i].textContent);
        opcoes[i].setAttribute('selected', 'selected');
        break;
}
}
  valorTotal.textContent = "Valor Total: R$" + valorTotalCalculado.toFixed(2);
  valorTotalPromocao.value = valorTotalCalculado.toFixed(2);
});

quantidade.addEventListener("input", (event) => {
 var option = select.options[select.selectedIndex];
 var option1 = tipo.options[tipo.selectedIndex];
  var valor = option.value;
  var valor1 = option1.value;
  console.log(valor);
  var valorTotalCalculado = (parseFloat(valor) * parseFloat(quantidade.value)) * (1 - parseFloat(valor1));
  if (isNaN(valorTotalCalculado)) {
  valorTotalCalculado = 0;
}
  valorTotal.textContent = "Valor Total: R$" + valorTotalCalculado.toFixed(2);
  valorTotalPromocao.value = valorTotalCalculado.toFixed(2);

});

quantidade.addEventListener("input", (event) => {
var option = select.options[select.selectedIndex];
 var option1 = tipo.options[tipo.selectedIndex];
  var valor = option.value;
  var valor1 = option1.value;
  console.log(valor);
  var valorTotalCalculado = (parseFloat(valor) * parseFloat(quantidade.value)) * (1 - parseFloat(valor1));
  if (isNaN(valorTotalCalculado)) {
  valorTotalCalculado = 0;
}
  valorTotal.textContent = "Valor Total: R$" + valorTotalCalculado.toFixed(2);
  valorTotalPromocao.value = valorTotalCalculado.toFixed(2);

});

tipo.addEventListener("change", (event) => {
var option = select.options[select.selectedIndex];
 var option1 = tipo.options[tipo.selectedIndex];
  var valor = option.value;
  var valor1 = option1.value;
  console.log(valor);
  var valorTotalCalculado = (parseFloat(valor) * parseFloat(quantidade.value)) * (1 - parseFloat(valor1));
  if (isNaN(valorTotalCalculado)) {
  valorTotalCalculado = 0;
}
  valorTotal.textContent = "Valor Total: R$" + valorTotalCalculado.toFixed(2);
  valorTotalPromocao.value = valorTotalCalculado.toFixed(2);

});
</script>
{% endblock %}