* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue', Sans-serif;
    --fonte-android: 'Android', Sans-serif;
}

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    color: #fff;
    
  }
  
  nav img {
    height: 80px;
    margin-left: 10px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    max-width: 400px;
    padding: 30px;
    margin-bottom: 30px;
    margin-top:50px;
  }
  h2 {
    color: #333333;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  label {
    color: #333333;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  input[type="text"],[type="email"], input[type="password"],select {
    border:0.1px solid black;
    border-radius: 5px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 15px;
    width: 100%;
  }
  input[type="submit"] {
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
  }
  input[type="submit"]:hover {
    background-color: #555555;
  }
  #add-roupa-btn {
    display: flex;
    justify-content:center;
    align-items: center;
      background-color: #585757;
      color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    width: 370px;
    padding: 6px;
    margin-top: 20px;
    
  
  }
  #rem-roupa-btn {
    display: flex;
    justify-content:center;
    align-items: center;
      background-color: #585757;
      color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    width: 370px;
    padding: 6px;
    margin-top: 20px;
    
  
  }
    #rem-usuario-btn {
    display: flex;
    justify-content:center;
    align-items: center;
      background-color: #585757;
      color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    width: 370px;
    padding: 6px;
    margin-top: 20px;


  }
  #add-categoria-btn {
    display: flex;
    justify-content:center;
    align-items: center;
      background-color: #585757;
      color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    width: 370px;
    padding: 6px;
    margin-top: 20px;


  }
  #rem-categoria-btn {
    display: flex;
    justify-content:center;
    align-items: center;
      background-color: #585757;
      color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    width: 370px;
    padding: 6px;
    margin-top: 20px;


  }
  #add-estoque-btn {
    display: flex;
    justify-content:center;
    align-items: center;
      background-color: #585757;
      color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    width: 370px;
    padding: 6px;
    margin-top: 20px;


  }
  #add-roupa-modal {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none; 
    justify-content: center; 
    align-items: center;
  }
  #del-usuario-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
   #del-usuario-btn {
    cursor:pointer;
  }
  #rem-estoque-btn {
    display: flex;
    justify-content:center;
    align-items: center;
      background-color: #585757;
      color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    width: 370px;
    padding: 6px;
    margin-top: 20px;


  }
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  thead {
    background-color: #333;
    color: #fff;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    text-transform: uppercase;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #ddd;
  }
 .alert{
 position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem
 }
 .alert-success{color:#155724;background-color:#d4edda;border-color:#c3e6cb;text-align: center;}

 .alert-danger{color:#721624;background-color:#f8d7da;border-color:#f5c6cb;text-align: center;}

footer {
    background-color: #292929;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: #585757;
}